<a id="archives" class="glitch-btn" href="/project/archives">
  <div class="divider-top divider-lines"></div>

  <div class="project-archive">

    <div class="h3 project-title glitch-btn">
      <div class="texthover">More Work</div>
      <div class="glitch-mask"><span>More Work</span></div>
      <div class="glitch-mask"><span>More Work</span></div>
      <div class="glitch-mask"><span>More Work</span></div>
      <div class="glitch-mask"><span>More Work</span></div>
      <div class="glitch-mask"><span>More Work</span></div>
    </div>

    <div class="project-category glitch-btn">
      <div class="texthover">Misc.</div>
      <div class="glitch-mask"><span>Misc.</span></div>
      <div class="glitch-mask"><span>Misc.</span></div>
      <div class="glitch-mask"><span>Misc.</span></div>
      <div class="glitch-mask"><span>Misc.</span></div>
      <div class="glitch-mask"><span>Misc.</span></div>
    </div>
  </div>

  <div class="divider-bottom divider-lines"></div>
</a>
