
    <div class="landing observable">

      <!-- Cover snippet starts !-->
      <div id="snippet" class=" h1 snippetglitch">

        <div id="name" class="textglitch1">
          <span class="underlined">Austin DeHaven</span>
        </div>
        <div class="textglitch2">
          <% if (locals.route === 'index') { %>
            <span class="selected" style="margin-right: 8px;">Designer</span>&amp;<a class="underlined" href="/photography" style="margin-left: 8px;">Photographer</a>
          <% } else { %>
            <a class="underlined"  href="/" style="margin-right: 8px;">Designer</a>&amp;<span class="selected" style="margin-left: 8px;">Photographer</span>

          <% } %>

        </div>

        <div class="textglitch3">
          <span>Based in Los Angeles, CA.</span>
        </div>

       <!-- Where the Hidden Nav Buttons Start !-->
        <div id="social-button" class="h5">
          <a class="underlined social-links social-links-margin" target="_blank" href="https://www.behance.net/AustinDeh">Behance</a>
          <a class="underlined social-links social-links-margin" target="_blank" href="http://www.linkedin.com/in/austin56dehaven">Linkedin</a>
          <a class="underlined social-links" target="_blank" href="mailto:adehaven.designs@gmail.com">Contact</a>
        </div>
      </div>
    </div>
