<div class="landing observable">

  <!-- Scroll down text !-->
  <div id="scroll-down" class="glitch-btn">
    <div class="glitch-mask"><span>↓ Scroll Down </span></div>
    <div class="glitch-mask"><span>↓ Scroll Down </span></div>
    <div class="glitch-mask"><span>↓ Scroll Down </span></div>
    <div class="glitch-mask"><span>↓ Scroll Down </span></div>
    <div class="glitch-mask"><span>↓ Scroll Down </span></div>
    <span class="scroll-down"></span>
  </div>


  <!-- Cover snippet starts !-->
  <div id="snippet" class="h1 snippetglitch">

    <div class="textglitch1">
      A collection of work.
    </div>
  </div>
</div>
