
    <div class="landing">
      <!-- Scroll down text !-->
      <div class="snippetglitch textglitch3 scroll-down"></div>

      <!-- Cover snippet starts !-->
      <div class="snippetglitch" id="snippet">

        <div id="name" class="textglitch1">
          <span class="underlined">Austin DeHaven</span>
        </div>

        <!-- <div id="name" class="textglitch1 glitch-btn">
          <div class="texthover underlined">Austin DeHaven</div>
          <div class="glitch-mask"><span>Austin DeHaven</span></div>
          <div class="glitch-mask"><span>Austin DeHaven</span></div>
          <div class="glitch-mask"><span>Austin DeHaven</span></div>
          <div class="glitch-mask"><span>Austin DeHaven</span></div>
          <div class="glitch-mask"><span>Austin DeHaven</span></div>
        </div> -->

        <div class="textglitch2">
          <% if (locals.route === 'index') { %>
            <span class="selected" style="margin-right: 8px;">Designer</span>&amp;<a class="underlined" href="/photography" style="margin-left: 8px;">Photographer</a>
          <% } else { %>
            <a class="underlined"  href="/" style="margin-right: 8px;">Designer</a>&amp;<span class="selected" style="margin-left: 8px;">Photographer</span>

          <% } %>

        </div>

        <div class="textglitch3">
          <span>Based in Los Angeles, CA.</span>
        </div>

       <!-- Where the Hidden Nav Buttons Start !-->
        <div id="social-button">
          <a class="underlined social-links social-links-margin" href="https://www.behance.net/AustinDeh">Behance</a>
          <a class="underlined social-links social-links-margin" href="https://www.linkedin.com/in/austin-dehaven-a24756b4/">Linkedin</a>
          <a class="underlined social-links" href="mailto:adehaven.designs@gmail.com">Contact</a>
        </div>
      </div>
    </div>
