<div id="project-nav">
  <div class="body-width">
    <a class="footer-text underlined" href="<%= locals.href %>"><%- locals.prev %></a>
    <a class="footer-text underlined" href="<%= locals.href %>"><%- locals.next %></a>
  </div>
</div>
