<div id="return-button">
  <span>←</span><a class="underlined return-button" href="/">Return to design work </a>
</div>

<div id="project-overview">
  <div class="project-overview">
    <div class="project-overview-title">Motoamerica</div>
    <div class="project-overview-body">It was an honor to be able to influence a sport I love so much through my art and design. Coming from a strong racing heritage and successful racing career it seemed to be a perfect fit for me to help with the start of the new Pro American Motorcycle Championship. I was given a lot of freedom in this project creatively and had the opportunity to really push my capabilities as a designer. This project was completed over the course of nearly a year and involved everything from logo development, brand identity, sales & media decks, at track collateral, business collateral, print advertising, web advertising, websites, and supporting logos.</div>
  </div>
  <div class="project-overview-details-row">
    <div class="project-overview-details-column">
      <span class="project-overview-subhead">Client</span>
      <span class="project-overview-value">Motoamerica</span>
    </div>
    <div class="project-overview-details-column">
      <span class="project-overview-subhead">Date</span>
      <span class="project-overview-value">2015</span>
    </div>
    <div class="project-overview-details-column">
      <span class="project-overview-subhead">Role</span>
      <span class="project-overview-value">Art Direction, Branding, Design</span>
    </div>

  </div>
</div>
