<div id="footer">
  <div class="body-width-footer footer h2">
    <a class="underlined" href="<%= locals.href %>"><%- locals.copy %></a>
  </div>

  <div class="credit full-width-footer">
    <p class="body-width tiny">This website was designed and developed from scratch by Austin DeHaven.</p>
    <a class="tiny underlined" target="_blank" rel="noopener noreferrer" href="https://github.com/austindeh/austindehaven"> See Repository</a>
  </div>
</div>
