<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->

<%- include('partials/global/_analytics') %>
<link rel='stylesheet' href='/stylesheets/404.css' />

  <div class="bluescreen">
    <img src="http://www.austindehaven.com/wp-content/themes/semplice/images/404-Images/Bluescreen.jpg">
  </div>

  <div class="error404">
    <audio id="error-sound" src="http://austindehaven.com/wp-content/uploads/2017/10/WINDOWS-XP-ERROR-SOUND.wmv.mp3" preload="auto" autoplay="autoplay">

    <template id="popup">
    <div class="error-popup">
      <div class="error-header">
        <div class="error-headline"> 404: This doesn't exist!</div>
        <a class="error-close">✕</a>
      </div>
      <div class="error-body">
        <div class="error-icon">
          <img src="files/error-icon.jpg">
        </div>
        <div class="error-copy">
          <div class="error-message">How did you fuck this up?</div>
          <a href="/" class="error-leave">Return</a>
        </div>
      </div>
    </div>
    </template>
  </div>
</div>

  <div class="footer">
    <img class="footer-left" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/Start.png">
    <img class="footer-right" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/clock.jpg">
  </div>

   <div id="desktop-items">
      <img class="desktop-icons" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/MyComputer.jpg">
      <img class="desktop-icons" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/Documents.jpg">
      <img class="desktop-icons" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/Recycle.jpg">
      <img class="desktop-icons" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/NetworkPlaces.jpg">
      <img class="desktop-icons" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/InternetExplorer.jpg">
      <img class="desktop-icons" src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/Connect.jpg">
  </div>

  <div id="desktop-bg">
    <img src="http://austindehaven.com/wp-content/themes/semplice/images/404-Images/passion.jpg">
  </div>



<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascript/404.js"></script>


