<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body class="main-container">
    <div class="landing">
      <div class="glitch-text">
        <span class="underline-text">Austin Dehaven</span>
      </div>
    </div>
    <%
    var projects = [
      {
        title: 'Disney Store Toybox - Coming Soon',
        year: '2017',
        src: 'Images/Home/Toybox-Cover-Kylo.jpg',
      },
      {
        title: 'Alpinestars Adaptive Stretch',
        year: '2016',
        src: 'Images/Home/Alpinestars.jpg',
      },
      {
        title: 'Made in LA',
        year: '2016',
        src: 'Images/Home/Made-In-LA.jpg',
      },
      {
        title: 'Motoamerica',
        year: '2015',
        src: 'Images/Home/Motoamerica.jpg',
      },
      {
        title: 'Ken Block Livery',
        year: '2015',
        src: 'Images/Home/Ken-Block.jpg',
      },
    ];
    %>
    <div class="projects">
      <% projects.forEach(function(project, i) { %>
        <%- include('_project', { index: i+1, total: projects.length, title: project.title, year: project.year, src: project.src }) %>
      <% }); %>
    </div>
  </body>
</html>
