<!DOCTYPE html>
<html>
<!-- made with love. -->
<!-- Developed by Austin DeHaven -->
  <head>
    <%- include('partials/global/_analytics') %>
    <title>Portfolio of Austin DeHaven</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="Austin is a multi-disciplinary designer from Los Angeles currently working at HYFN. He grew up racing motorcycles, ultimately winning an American Pro National Championship as well as competing in World Championships.">
    <meta name="keywords"             content="los angeles, LA, interactive design, interactive, glitch, austin, dehaven, austin dehaven, designer, adehaven, graphic design, graphics, motion, retouching, photography">
    <meta name="theme-color"          content="white">
    <meta property="og:type"          content="website">
    <meta property="og:url"           content="http://austindehaven.com">
    <meta property="og:title"         content="Portfolio of Austin DeHaven">
    <meta property="og:description"   content="Austin is a multi-disciplinary designer from Los Angeles currently working at HYFN. He grew up racing motorcycles, ultimately winning an American Pro National Championship as well as competing in World Championships.">
    <meta property="og:image"         content="http://austindehaven.com/images/global/adehaven-portrait.jpg">


    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/password_protect.css' />

  </head>

  <body>

    <div class="body-width">
      <!-- <div id="return-button">
        <span>←</span><a class="underlined return-button" href="/">Return to design work </a>
      </div> -->
      <form action="/gateway" method="post">
        <div class="group textglitch2 textglitch3">
          <label class="textglitch1 textglitch3">Please Enter Your Password</label>
          <input name="password" type="text" required>
        </div>
      </form>
    </div>
  </body>

  <%- include('partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/landing.js"></script>
  <script src="/javascript/glitch.js"></script>
</html>
