<!DOCTYPE html>
<html>
<!-- made with love. -->
<!-- Developed by Austin DeHaven -->
  <head>
    <%- include('partials/global/_meta') %>

    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/password_protect.css' />

  </head>

  <body>

    <div class="body-width">
      <div id="return-button">
        <!-- <span>←</span><a class="underlined return-button" href="/">Return to design work </a>
      </div> !-->
      <div class="center">
        <form action="/gateway" method="post">
          <div class="group snippetglitch textglitch3">
            <label class="textglitch1 snippetglitch">Please Enter Your Password</label>
            <input class="textglitch1" name="password" type="text" required>
            <input name="redirect_to" type="hidden" value="<%- redirect_to %>">
          </div>
        </form>
      </div>
    </div>
  </body>

  <%- include('partials/global/_dependencies') %>
  <script src="/javascript/global.js"></script>
  <script src="/javascript/password_protect.js"></script>
  <script src="/javascript/glitch.js"></script>
</html>
