<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/back-to-top.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>


  <body class="body-width">
    <!-- Landing Section !-->
    <div class="landing">
      <!-- Scroll down text !-->
      <div class="snippetglitch textglitch3 scroll-down"></div>

      <!-- Cover snippet starts !-->
      <div class="snippetglitch" id="snippet">
        <div class="textglitch1">
          <span id="name" class="underlined">Austin DeHaven</span>
        </div>

        <div class="textglitch2">
          <span class="selected" style="margin-right: 8px;">Designer</span>&<a class="underlined" href="/photography" style="margin-left: 8px;">Photographer</a>
        </div>

        <div class="textglitch3">
          <span>Based in Los Angeles, CA.</span>
        </div>

      <!-- Where the Hidden Nav Buttons Start !-->
        <div id="social-button">
          <a class="underlined social-links social-links-margin" href="https://www.behance.net/AustinDeh">Behance</a>
          <a class="underlined social-links social-links-margin" href="https://www.linkedin.com/in/austin-dehaven-a24756b4/">Linkedin</a>
          <a class="underlined social-links" href="mailto:adehaven.designs@gmail.com">Contact</a>
        </div>
      </div>
    </div>

  </body>

  </html>
