<!DOCTYPE html>
<html>
  <head>
    <title>Austin Dehaven | Portfolio</title>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description"          content="">
    <meta name="keywords"             content="">
    <meta property="og:type"          content="">
    <meta property="og:url"           content="">
    <meta property="og:title"         content="">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="">

    <link rel="stylesheet" href="https://use.typekit.net/bxp7lue.css">
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/project-nav.css' />
    <link rel='stylesheet' href='/stylesheets/projects.css' />
  </head>
  <body class="body-width">
    <!-- Projects Landing -->
    <%- include('partials/_project-landing', { title: project.title, body: project.body, client: project.client, date: project.date, role: project.role }) %>

    <!-- fancy stuff loading all the necessary images -->

    <!-- Project Nav -->
    <%- include('partials/_project-nav', { prev: project.prevProject, next: project.nextProject }) %>

    <!-- Footer Block -->
    <%- include('partials/_footer', { href: '/', arrow: '<span class="returnArrow">←</span>', copy: 'Return to design work' }) %>

    <!-- Back to Top Button -->
    <%- include('partials/_back-to-top') %>

  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/javascript/global.js"></script>
  <!-- <script src="/javascript/landing.js"></script> -->
</html>
