<a style="cursor: default;" onclick="return false" href="<%= locals.href %>" class="project observable">
  <img class="" alt='NO_SIGNAL.jpeg' src='<%= locals.src %>'>

    <div class="project-title">
      <div class="texthover"><%= locals.title %></div>
    </div>

    <div class="project-category h4">
      <div class="texthover"><%= locals.category %></div>
    </div>
</a>
