<div id="project-nav">
  <div class="body-width project-nav-width">
    <a class="footer-text underlined" href="<%= locals.prev %>">Previous Project</a>
    <a class="footer-text underlined" href="<%= locals.next %>">Next Project</a>
  </div>
</div>
