
.projects {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.project {
  display: block;
  width: 100%;
  flex-basis: 50%;
  padding-bottom: 20px;
}

.project:nth-child(odd) {
  padding-right: 15px;
}

.project:nth-child(even) {
  padding-left: 15px;
}

/* TODO: move into shared project css for index.css and this page */
.project-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  font-family: "roboto-mono",monospace;
  font-weight: 400;
  font-size: 11px;
  width: 100%;
  line-height: 7px;
}

.project-img {
  opacity: 0;
}

.project-canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  width: 100%;
  height: 100%;
}

.project-canvas:hover {
  opacity: 1;
}

.project-number {
  opacity: .5;
  width: 85px;
}

.project-title {
  width: 100%;
  letter-spacing: .5px
}

.project-year {
  display: flex;
  justify-content: flex-end;
  opacity: .5;
}

/* #archives:hover .project-details {
  padding: 10px 20px;
} */

#archives {
  width: 100%;
  color: #181818;
}

.divider-lines {
	position: relative;
}

.divider-top {
	padding-bottom: 15px;
}

.divider-bottom {
	padding-top: 15px;
}

.divider-lines:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
	background-color: #e1e1e1;
}


/* -- Footer Colors -- */

#footer .underlined:before {
	background-color:#646464;
}

#footer .underlined:after {
  background-color: white;
}


