
.projects {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.project {
  display: block;
  width: 100%;
  flex-basis: 50%;
  padding-bottom: 30px;
}

.project:nth-child(odd) {
  padding-right: 15px;
}

.project:nth-child(even) {
  padding-left: 15px;
}

#project-overview {
  margin-bottom: 50px;
}


/* Project Details */

.project-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
}

.project-img {
  opacity: 0;
}

.project-number {
  opacity: .5;
  width: 85px;
}

.project-title {
  width: 100%;
  letter-spacing: .5px
}

.project-category {
  display: flex;
  justify-content: flex-start;
  opacity: .5;
}

/* -- Layout Break Points -- */

@media (max-width: 768px) {

  .projects {
    width: 90%;
  }

  .project {
    flex-basis: 100%;
  }
  .project:nth-child(odd) {
    padding-right: 0px;
  }

  .project:nth-child(even) {
    padding-left: 0px;
  }

}
