.logo_definitions {
  padding: 10px 0;
}


.logo_gif {
  padding: 150px 20%;
}

.experience_header {
  font-family: bebas-neue;
  font-size: 75pt;
  letter-spacing: 0px;
  line-height: 77px;
  padding-bottom: 10px;
}
