.logo_definitions {
  padding: 10px 0;
}


.logo_gif {
  padding: 150px 20%;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 75px 0;
  color: white;
}

.experience img {
  padding-bottom: 15px;
}