.logo_definitions {
  padding: 10px 0;
}


.logo_gif {
  padding: 150px 20%;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15vh 0;
  color: white;
}

.experience img {
  padding-bottom: 15px;
}

@media (max-width:767px) {
  .experience img {
    width: 180%;
  }

  .resize {
    width: 150%;
  }
}