#back-to-top {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 3000;
    transition: opacity .5s;
}
#back-to-top svg {
    fill: #999999;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#back-to-top:hover {
    opacity: 1;
}

#back-to-top:hover svg {
    color: #fff;
    top: 5px;
}
