#footer {
  display: flex;
  width: 100%;
  background-color: #181818;
  height: 325px;
  margin-top: 75px;
  color: white;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
}

.footer-text {
  font-family: "raleway", sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
}

.returnArrow {
  padding-right: 5px;
  font-family: "raleway", sans-serif;
  font-size: 14pt;
}

@media (max-width: 768px) {

  #footer {
    height: 225px;
  }

  .footer {
    width: 90%;
  }
}
