/* --- Global Shit --- */

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

table {
  width: 100%;
  border-collapse: collapse;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-color: gray;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.05em;
  font-family: 'roboto-mono', monospace;
  text-transform: uppercase;
  font-weight: 100;
}

img {
  width: 100%;
}

/* --- Underlines --- */

.selected {
	position: relative;
}

.selected:before {
  content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 6px;
	height: 1px;
	background-color: #181818;
}

.underlined {
	position: relative;
}

.underlined:before {
  content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 6px;
	height: 1px;
	background-color: #e1e1e1;
}

.underlined:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 6px;
  left: 0;
  background-color: #181818;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  transform-origin: 0% 100%
}

.underlined:hover:after {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: 0% 100%
}


/* --- Back to Top Arrow --- */

#back-to-top {
  display: block;
  position: fixed;
  bottom: 5%;
  right: 2.5%;
  width: 60px;
  padding: 10px 0px;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 3000;
  transition: opacity .5s;
  mix-blend-mode: difference;
}

#back-to-top svg {
  fill: #999999;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#back-to-top:hover {
  opacity: 1;
}

#back-to-top:hover svg {
  fill: #CCC;
  transform: translateY(-50%);
  opacity: 1;
}
