/* --- Projects --- */
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30vh;
}

.project:nth-child(7) {
  margin-bottom: 20vh;
}

.project:nth-child(6) {
  margin-bottom: 20vh;
}

.project-hover {
  width: 100%;
}

.project-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.project:nth-child(even) {
  margin-left: 0;
  margin-right: 5%;
}

.project:nth-child(odd) {
  margin-left: 5%;
  margin-right: 0;
}

.project:nth-child(1) {
  margin-left: 0;
  margin-right: 0;
}

.project:nth-child(2), .project:nth-child(6) {
  margin-left: 5%;
}

.project:nth-child(3), .project:nth-child(7) {
  margin-right: 5%;
}

.project-100 {
  width: 100%;
}

.project-55 {
  width: 55%;
}

.project-25 {
  width: 25%;
}

.project-35 {
  width: 35%;
}

.project-40 {
  width: 40%;
}

.project-45 {
  width: 45%;
}

.project-50 {
  width: 50%;
  margin-bottom: 20vh;
}


.project-title {
  margin-right: auto;
  font-size: 14px;
  font-family: "raleway";
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 0;
}

.project-category {
  display: flex;
  font-family: "raleway";
  font-size: 12px;
  opacity: .5;
  letter-spacing: 1.25px;
}

.project-archive {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


/* --- Archived Projects --- */

#archives:hover:before {
  top: 0;
}

#archives .project-details {
  transition: all ease .3s;
}

#archives {
  width: 100%;
  color: #181818;
}

.divider-lines {
	position: relative;
}

.divider-top {
	padding-bottom: 15px;
}

.divider-bottom {
	padding-top: 15px;
}

.divider-lines:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
	background-color: #e1e1e1;
}

#archives:hover .texthover {
  -webkit-animation: fade-in 0.8s both;
  animation: fade-in 0.8s both;
}

#archives:hover .glitch-mask {
  display: block;
}

#archives:hover .glitch-mask:nth-child(6) {
  -webkit-animation: jitter-20-25-8 infinite 0.3s both;
  animation: jitter-20-25-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(5) {
  -webkit-animation: jitter-20-24-8 infinite 0.3s both;
  animation: jitter-20-24-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(4) {
  -webkit-animation: jitter-20-23-8 infinite 0.3s both;
  animation: jitter-20-23-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(3) {
  -webkit-animation: jitter-20-22-8 infinite 0.3s both;
  animation: jitter-20-22-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(2) {
  -webkit-animation: jitter-20-21-8 infinite 0.3s both;
  animation: jitter-20-21-8 infinite 0.3s both;
}

/* -- Footer Colors -- */

#footer .underlined:before {
	background-color:#646464;
}

#footer .underlined:after {
  background-color: white;
}


/* Media Tags */

@media (max-width: 768px) {
  .project {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5vh;
  }

  .project:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }

  .project:nth-child(odd) {
    margin-left: 0;
    margin-right: 0;
  }
}
