/* --- Projects --- */
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project img {
  margin-bottom: 8px;
}

.project {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 150px;
}

.project-col-12 {
  width: 100%;
}

.project-col-6 {
  width: 55%;
  margin: 0 5% 150px 5%;
}

.project-col-3 {
  width: 25%;
  margin: 0 5% 150px 5%;
}

.project-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "roboto-mono",monospace;
  font-weight: 400;
  font-size: 11px;
  line-height: 7px;
}

.project-medium {
  opacity: .5;
  margin-right: 30px;
  margin-top: 3px;
  line-height: 17px;
}

.project-title {
  margin-right: auto;
  font-size: 13px;
  font-family: roboto-mono;
  letter-spacing: 1px;
  line-height: 17px;
}

.project-year {
  display: inline-block;
  text-align: right;
  opacity: .5;
}


/* --- Archived Projects --- */

/* #archives:hover {
  color: white;
}

#archives:before {
  content: "";
  position: absolute;
  background: #181818;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
} */

#archives:hover:before {
  top: 0;
}

#archives .project-details {
  transition: all ease .3s;
}

/* #archives:hover .project-details {
  padding: 10px 20px;
} */

#archives {
  width: 100%;
  color: #181818;
}

.divider-lines {
	position: relative;
}

.divider-top {
	padding-bottom: 15px;
}

.divider-bottom {
	padding-top: 15px;
}

.divider-lines:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
	background-color: #e1e1e1;
}

#archives:hover .texthover {
  -webkit-animation: fade-in 0.8s both;
  animation: fade-in 0.8s both;
}

#archives:hover .glitch-mask {
  display: block;
}

#archives:hover .glitch-mask:nth-child(6) {
  -webkit-animation: jitter-20-25-8 infinite 0.3s both;
  animation: jitter-20-25-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(5) {
  -webkit-animation: jitter-20-24-8 infinite 0.3s both;
  animation: jitter-20-24-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(4) {
  -webkit-animation: jitter-20-23-8 infinite 0.3s both;
  animation: jitter-20-23-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(3) {
  -webkit-animation: jitter-20-22-8 infinite 0.3s both;
  animation: jitter-20-22-8 infinite 0.3s both;
}

#archives:hover .glitch-mask:nth-child(2) {
  -webkit-animation: jitter-20-21-8 infinite 0.3s both;
  animation: jitter-20-21-8 infinite 0.3s both;
}

/* -- Footer Colors -- */

#footer .underlined:before {
	background-color:#646464;
}

#footer .underlined:after {
  background-color: white;
}


/* Media Tags */

@media (max-width: 768px) {
  .project {
    width: 100%;
    margin: 0 0 50px 0;
  }

  .project-details {
    font-size: 11px;
  }
}
