/* --- Projects --- */
.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30vh;
}

.project img {
  filter: grayscale(100%) ;
  transition: filter .25s ease-in-out;
}

.project img:hover {
  filter: grayscale(0%);
}

.project-hover {
  width: 100%;
}

.project-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.project:nth-child(even) {
  margin-left: 0;
  margin-right: 5%;
}

.project:nth-child(odd) {
  margin-left: 5%;
  margin-right: 0;
}

.project:nth-child(1) {
  margin-left: 0;
  margin-right: 0;
}

.project:nth-child(2), .project:nth-child(6) {
  margin-left: 5%;
}

.project:nth-child(3), .project:nth-child(7) {
  margin-right: 5%;
}

.project-100 {
  width: 100%;
}

.project-55 {
  width: 55%;
}

.project-25 {
  width: 25%;
}

.project-35 {
  width: 35%;
}

.project-40 {
  width: 40%;
}

.project-45 {
  width: 45%;
}

.project-50 {
  width: 50%;
  margin-bottom: 20vh;
}


.project-title {
  font-weight: 500;
}

.project-category {
  display: flex;
  opacity: .5;
}


/* --- Archived Projects --- */

#archives {
  width: 100%;
}

.project-archive {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.divider-lines {
	position: relative;
}

.divider-top {
	padding-bottom: 10px;
}

.divider-bottom {
	padding-top: 10px;
}

.divider-lines:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
	background-color: #e1e1e1;
}

/* -- Footer Colors -- */

#footer .underlined:before {
	background-color:#646464;
}

#footer .underlined:after {
  background-color: white;
}


/* Media Tags */

@media (max-width: 768px) {
  .project {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3vh;
  }
  
  .project img{
    filter: grayscale(0%);
  }

  .project:nth-child(n) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10vh;
  }
}
