.body-width {
  padding: 0 7vw;
  margin: auto;
  width: 100%;
}

@media (max-width: 1200px) and (min-width: 979px) {
  .body-width {
    width: 100%;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .body-width {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .body-width {
    width: 100%;
  }
}

