.body-width {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1200px) and (min-width: 979px) {
  .body-width {
    max-width: 940px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .body-width {
    max-width: 724px;
  }
}

@media (max-width: 767px) {
  .body-width {
    width: 80%;
  }
  .project-details {
    font-size: 9px;
    line-height: 7px;
  }
}

