.body-width {
  padding: 0 7vw;
  margin: auto;
  width: 100%;
}

.body-width-small {
  padding: 0 15vw;
}

@media (max-width: 1200px) and (min-width: 979px) {
}

@media (max-width: 979px) and (min-width: 768px) {
}

@media (max-width: 767px) {
  .body-width-small {
    padding: 0 7vw;
  }
}

