.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -65px;
}

.group {
  position:relative;
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  padding-bottom: 10px;
  opacity: .5;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border: solid 1px #d6d6d6;
}

input::placeholder { 
  color: black;
  opacity: .25;
}

input:focus {
  outline:none;
}

input[type=text] {
  padding: 10px 20px;
  align: center;
  text-align: center;
}

.return-button {
  padding-bottom: 4px;
}

#return-button span {
  margin-right: 5px;
}

#return-button {
  width: 100%;
  padding-top: 40px;
}
