body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.group {
  position:relative;
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "roboto-mono",monospace;
}

label {
  padding-bottom: 10px;
  opacity: .5;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
}

input:focus {
  outline:none;
}

input[type=text] {
  padding: 10px 20px;
  font-size: 12px;
  font-family: "roboto-mono",monospace;
  align: center;
  text-align: center;
}
