body {
  background-color: #181818;
  color: white;
}

/* -- Landing Colors -- */

.underlined:before {
	background-color:#646464;
}

.underlined:after {
  background-color: white;
}

.selected:before {
	background-color: white;
}

img {
  transition: opacity .5s, transform .5s;
}

/* -- Masonry Shit -- */

.masonry {
  column-count: 2;
  padding: 0;
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  transition: opacity .5s, transform .5s;
}

.masonry-item {
  display: inline-block;
  margin: 0 0 20px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
}

/* -- Image Filtering -- */

.fade-in-filter {
  opacity: 1;
  transform: translateY(0px);
}

.fade-out-filter {
  opacity: 0;
  transform: translateY(20px);
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  position: sticky;
  position: -webkit-sticky;
  top: -1;
  width: 100%;
  z-index: 20;
  background: #181818;
}

.filter-contact {
  display: flex;
  justify-content: flex-start;
  font-size: 11px;
  font-family: "roboto-mono",monospace;
}

.contact {
  opacity: .5;
  padding-bottom: 7px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  font-family: "roboto-mono",monospace;
}

.filter-btn {
  opacity: .5;
  /* padding-bottom: 7px; */
  cursor: pointer;
  margin-bottom: 5px;
}

.filter-btn:hover {
   opacity: 1;
}

.filter-selected {
  opacity: 1;
}

.filter-divider {
  margin: 0 20px;
}



/* -- Footer Colors -- */

#footer {
  background-color: #f5f5f5;
  color: #181818;
}

#footer .underlined:before {
	background-color:#e1e1e1;
}

#footer .underlined:after {
  background-color: #181818;
}



/* --- Layout and Breakpoints ---*/

@media (max-width: 768px) {

  .project {
    flex-basis: 100%;
  }

  .project:nth-child(odd){
    padding-right: 0px;
  }

  .project:nth-child(even){
    padding-left: 0px;
  }

  .filter-contact {
    display: none;
  }


}
