body {
  background-color: #181818;
  color: white;
}

/* -- Landing Colors -- */

.underlined:before {
	background-color:#646464;
}

.underlined:after {
  background-color: white;
}

.selected:before {
	background-color: white;
}

/* -- Masonry Shit -- */

.masonry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.masonry-col {
  width: 49%;
}

.masonry-col:nth-child(1) {
  margin-right: 1%;
}

.masonry-col:nth-child(2) {
  margin-left: 1%;
}

.masonry-col img {
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .masonry-col {
    width: 100%;
  }

  .masonry-col:nth-child(1) {
    margin-right: 0%;
  }
  
  .masonry-col:nth-child(2) {
    margin-left: 0%;
  }
}

/* -- Image Filtering -- */

.observable {
  transition: opacity .75s, transform 1s;
}

.observed {
  transition: opacity .75s, transform 1s;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  top: -1px; /* Needs to cascade for safari. Chrome is +1px and safari doesnt support -1px */
  width: 100%;
  z-index: 1;
  background: #181818;
}

.filter-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-contact .h4 {
  opacity: .5;
}

.filter-btn {
  opacity: .5;
  cursor: pointer;
  margin-bottom: 5px;
}

.filter-btn:hover {
   opacity: 1;
}

.filter-selected {
  position: relative;
  opacity: 1;
}

.filter-selected:before {
  content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 1px;
	background-color: white;
}

.filter-divider {
  margin: 0 20px;
}



/* -- Footer Colors -- */

#footer {
  background-color: #f5f5f5;
  color: #181818;
}

#footer .underlined:before {
	background-color:#e1e1e1;
}

#footer .underlined:after {
  background-color: #181818;
}



/* --- Layout and Breakpoints ---*/

@media (max-width: 768px) {

  .project {
    flex-basis: 100%;
  }

  .project:nth-child(odd){
    padding-right: 0px;
  }

  .project:nth-child(even){
    padding-left: 0px;
  }

  .filter-contact {
    display: none;
  }

  .filter-bar {
    justify-content: center;
  }

}