/* -- Layout Shit -- */
@media (max-width: 767px) {

  .sectionCopy {
    padding-bottom: 10px !important;
  }

  #project-overview .project-overview {
    width: 100%;
  }

  .project-overview-details-row {
    flex-direction: column;
  }

  .grid .row {
    flex-direction: column;
    margin: 0px -5px;
  }

  .row .column {
    padding: 5px;
  }

  .column img {
    width: 100%;
  }
}

/* -- Return Button -- */

.return-button {
  font-family: "raleway", sans-serif;
  font-size: 13px;
  color: #181818;
  padding-bottom: 4px;
}

#return-button span {
  font-family: "raleway", sans-serif;
  font-size: 10pt;
  margin-right: 5px;
}

#return-button {
  width: 100%;
  padding-top: 40px;
}

/* -- Project Overview -- */

#project-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: left;
  margin-top: 75px;
  margin-bottom: 100px;
  width: 100%;
}

.project-overview {
  margin-bottom: 20px;
  width: 70%;
}

.project-overview-title {
  font-family: "raleway", sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
  line-height: 35px;
  margin-bottom: 15px;
}

.project-overview-body {
  font-size: 12px;
  font-family: "raleway", sans-serif;
  line-height: 2.5;
  letter-spacing: 1.25px;
}

.project-overview-details-row {
  display: flex;
  flex-wrap: wrap;
}

.project-overview-details-column {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.project-overview-subhead {
  font-size: 12px;
  font-family: "roboto-mono";
  opacity: 0.5;
  line-height: 2;
}

.project-overview-value {
  font-size: 12px;
  font-family: "raleway", sans-serif;
  line-height: 2;
  letter-spacing: 1.25px;
}

#footer .underlined:before {
	background-color:#646464;
}

#footer .underlined:after {
  background-color: white;
}


/* -- Layout Styling -- */

.spacingStandard {
  margin-bottom: 100px;
}

.spacingSmall {
  margin-bottom: 50px;
}

.fullWidth {
  width: 100%;
}

.grid {
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  width: 100%;
  padding: 10px;
}

.sectionCopy {
  width: 100%;
  font-family: "raleway", sans-serif;
  letter-spacing: 1px;
  line-height: 2;
  padding-bottom: 50px;
}

.sectionHeader {
  width: 100%;
  font-size: 14pt;
  letter-spacing: 1px;
  line-height: 2;
}

.sectionBody {
  width: 100%;
  font-size: 7.75pt;
  font-family: roboto-mono;
  letter-spacing: 1px;
  line-height: 2;

}

.black_bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.darkgray_bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #181818;
}

.white_bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.divider {
  height: 2px;
  background-color: #474747;
  width: 100%;
}

.video {
  width: 100%;
}

/* -- Footer Colors -- */

#footer {
  background-color: #f5f5f5;
  color: #181818;
  margin: 0;
}

#footer .underlined:before {
	background-color:#e1e1e1;
}

#footer .underlined:after {
  background-color: #181818;
}

