/* -- Layout Shit -- */
@media (max-width: 767px) {

  #project-overview .project-overview {
    width: 100%;
  }

  .project-overview-details-row {
    flex-direction: column;
  }

  .grid .row {
    flex-direction: column;
    margin: 0px -5px;
  }

  .row .column {
    padding: 5px;
  }

  .column img {
    width: 100%;
  }
}

/* -- Return Button -- */

#return-button span {
  margin-right: 5px;
  padding-bottom: 4px;
}

#return-button {
  padding-top: 40px;
}

/* Contact Button */

#contact-button {
  position: fixed;
  top: 40px;
  right: 1.5%;
  z-index: 2;
}

#contact-button a {
  color: #929192;
  transition: color .25s;
}

#contact-button a:hover {
  color: #181818;
}

/* -- Project Overview -- */

.project-top {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

#project-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: left;
  margin-top: 8vh;
  margin-bottom: 12vh;
  width: 100%;
}

.project-overview {
  margin-bottom: 25px;
  width: 70%;
}

.project-overview-title {
  margin-bottom: 15px;
  font-weight: 500;
}

.project-overview-details-row {
  display: flex;
  flex-wrap: wrap;
}

.project-overview-details-column {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.project-overview-subhead {
  opacity: .5;
}

.project-overview-value {
  letter-spacing: 1.25px;
  font-weight: 500;
}


/* -- Layout Styling -- */


p {
  width: 70%;
  text-align: center;
}

p, .h2 {
  font-weight: 500;
  margin-bottom: 25px;
  text-align: left;
}

.divider {
  height: 1px;
  background-color: #3b3b3b;
}

.black {
  width: 100%;
  background-color: #000000;
}

.dark {
  width: 100%;
  background-color: #181818;
}

.light {
  width: 100%;
  background-color: white;
}

.green {
  width: 100%;
  background-color: #009e93;
}

.spacing-standard {
  margin-bottom: 10vh;
}

.spacing-small {
  margin-bottom: 4vh;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  width: 100%;
  padding: 10px;
}



/*  -- Video Options --  */

video::-webkit-media-controls-play-button {
  display: none;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}

/* -- Footer Colors -- */

#footer {
  background-color: #f5f5f5;
  color: #181818;
  margin: 0;
}

#footer .underlined:before {
	background-color:#e1e1e1;
}

#footer .underlined:after {
  background-color: #181818;
}

#footer .h2 {
  margin: 0;
}

