#project-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  background-color: #181818;
  color: white;
}

.project-nav-width {
  display: flex;
  justify-content: space-between;
}

.project-nav-width .h2 {
  margin-bottom: 0;
}

#project-nav .underlined:before {
	background-color:#646464;
}

#project-nav .underlined:after {
  background-color: white;
}

@media (max-width: 768px) {

  #project-nav {
    height: 150px;
  }

  .project-nav-width {
    display: flex;
    justify-content: space-between;
  }
}
