/* --- Landing Section --- */

#name {
  cursor: pointer;
  /* width: 200px; */
}

.badge {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  min-width: 150px;
  z-index: 10000;
}

.video-cursor {
  cursor: pointer;
}

.video {
  transition: transform 0.5s ease;
}

.cursor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
  mix-blend-mode: difference;
  font-size: 18px;
  letter-spacing: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 40vh;
  padding: 0 5%;
  overflow-x: hidden;
}

.spacing-standard {
  margin-bottom: 10vh;
}

.spacing-large {
  margin-bottom: 15vh;
}

.spacing-small {
  margin-bottom: 4vh;
}

.spacing-copy {
  margin-bottom: 2vh;
}

.project:nth-child(odd) {
  margin-left: 0;
  margin-right: 0;
}

.project:nth-child(even) {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 768px) {
  .landing {
    margin: 0;
    height: 40vh;
  }

  #scroll-down {
    display: none;
  }

  .project {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 3vh;
  }

  .project:nth-child(n) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10vh;
  }
}
