/* --- Back to Top Arrow --- */

#back-to-top {
    display: block;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 8%;
    width: 15px;
    padding: 10px 0px;
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 3000;
    transition: opacity .5s;
  }
  
  @media (min-width: 768px) {
    #back-to-top {
      right: 3%;
    }
  }
  
  #back-to-top svg {
    fill: #999999;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  #back-to-top:hover {
    opacity: 1;
  }
  
  #back-to-top:hover svg {
    fill: #CCC;
    transform: translateY(-50%);
    opacity: 1;
  }